* { margin: 0; padding: 0;} 
#kontejner, #odabirVjezbe, .grafovi, .grafovi{
    height: 100%;
    min-height: 100%;
    box-sizing: border-box;
}
.tip1{
    margin: 2%;
}
#kontejner{
    background-color: palevioletred;
    padding: 1%;
}
/*.tip2{
    margin-left: 2%;
    margin-right: 2%;
    padding: 1%;
}*/
button{
    padding: 0.5%;
    /*display: inline-block;*/
    margin: 1%;
}
.tip1, button, #meni{
    background-color: lightpink;
}
.sadrzaj{
    background-color: mediumslateblue;
}
.graf, .grafovi, .tip2{
    background-color: mediumvioletred;
}

.graf, .tip1{
    padding: 1%;
}
#meni{
    min-height: 70px;
}
h1, .sadrzaj, .graf, .tip1{
    text-align: center;
}
.tip2{
    text-align: left;
}
img{
    max-width: 100%;
    max-height: 100%;
    
    object-fit: fill;
}
.grafovi{
    padding: 0.5%;
    height: fit-content;
}

@media screen and (min-width: 800px) {
    .glavno{
        display: grid;
        grid-template-columns: 35% 65%;
        grid-template-areas: 'vjezba grafovi';
    }
    #odabirVjezbe{
        grid-area: vjezba;
    }
    .grafovi{
        grid-area: grafovi;
        display: grid;
        grid-template-columns: auto auto;
    }
    body, html{
        width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
    }
}
@media screen and (max-width: 799px){
    .glavno{
        display: flex;
        flex-flow: column;
    }
}

