form{
    display: table;
}
label, input{
    display: table-cell;
    font-style: italic;
}

p{ 
    display: table-row;  
}
#sadrzaj{
    position: absolute;
    left:40%;
    top:40%;
}
body{
    background-color: beige;
}
