* { margin: 0; padding: 0;} 
.mLista, li{
    list-style: none;
}

body, html{
    height: 100%;
    width: 100%;
}

h1, #grupe, .celija, #studenti{
    text-align: center;
}
.glavno{
    width: 100%;
}
.tijelo, .glavno, #studenti, #grupe{
    height: 100%;
    min-height: 100%;
    box-sizing: border-box;
}
#grupe table{
    margin: 0 auto;
}
#meni{
    background-color: lightskyblue;
    min-height: 98px;
    max-height: 102px;
}
#studenti{
    background-color: lightsteelblue;
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(15px,auto));
}
#grupe{
    background-color: steelblue;
}
.celija{
    background-color: coral;
    display: inline-block;
    padding: 2%;
    margin: 1%;
}
td{
    padding: 1.55%;
}
#grupelnk, #vjezbelnk{
    display: inline;
}
@media screen and (min-width: 800px) {
#studenti{
    float: left;
    min-width: 58%;
    max-width: 60%;
}
#grupe{
    float: right;
    min-width: 40%;
    max-width: 42%;
}
.tijelo, .glavno{
    height: 100%;
    min-height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}
#studenti, #grupe{
    box-sizing: border-box;
}
}
@media screen and (max-width: 799px) and (min-width: 500px) {
   .glavno{
      display: flex;
      flex-flow: column;
   }
   #studenti, #grupe{
       clear: both;
   }
}
@media screen and (max-width: 499px) {
.kol2{
    display: none;
}
.glavno{
    display: flex;
    flex-flow: column;
 }
 #studenti, #grupe{
    clear: both;
}
 #meni ul{
     text-align: center;
 }
 .mLista, li{
   display: list-item;
}
}