form{
    display: table;
    padding: 5%;
}
label, input, select, textarea{
    display: table-cell;
    font-style: italic;
}
select{
    float: left;
}

p{ 
    display: table-row;  
}
body{
    background-color: beige;
}
label, textarea{
    vertical-align: middle;
}
